@import url('~bulma/css/bulma.min.css');

h1 {
    font-size: 2.25em;
    margin: 1em 0;
}

p {
    font-size: 1.2em;
}

.data-controls {
    margin-bottom: 20px;
}
.data-controls select {
    padding: 5px;
    margin-right: 5px;
}

.data-controls .input {
    width: 80%;
}

#content {
    word-break: break-all;
}

tr.is-selected td {
    text-decoration: line-through;
}

tr.is-selected td.control-buttons {
    text-decoration: none;
}

button {
    margin-right: 0.5em;
}
button.is-small {
    font-size: 0.9rem;
}
